body {
  padding: 0;
  margin: 0;
}

.header {
  padding: 1%;
  height: 50px;
  background-color: white;
  /* line-height: 50px; */
}

.headerLogo {
  height: 50px;
  float: left;
}

h1 {
  display: inline;
}
