#navbar {
  float: right;
  overflow: hidden;
  align-items: left;
  display: inline;
}

#navbaritem {
  display: inline;
  color: #38b6ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Fredoka One', cursive;
}

#navbar a:hover {
  color: black;
}

#navbar a.active {
  color: #38b6ff;
}

.topLevelMenu {
  display: inline;
}

.topLevelMenu:hover {
  display: inline;
}

.secondLevelMenu {
  display: none;
  text-align: left;
  width: fit-content;
  overflow: auto;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1;
}

.secondLevelMenu a {
  color: #38b6ff;
  padding: 0 16px 0 16px;
  text-decoration: none;
  display: block;
  font-size: 17px;
  font-family: 'Fredoka One', cursive;
}

.secondLevelMenu a:hover {
  color: #38b6ff;
}

.topLevelMenu:hover .secondLevelMenu {
  display: block;
  position: relative;
}

.topLevelMenu:hover .navitems {
}
