<div class="headSlide">
  <div class="insideHeadSlide overlay">

  </div>
</div>
<div class="slideBar twoGridContainer">
  <p class="textWithBackground slideBarText gridItem">
    Start automate your summer camp for free! We'll manage your camp so you can have fun with your camper.
  </p>
  <a href="/register" class="gridItem">
    <button class="themeButton sliderBarButton">Get Started</button>
  </a>
</div>
<div class="feature">
  <h2 class="center containIt featureTitle">
    Awesome Features That You'll Love
  </h2>
  <div class="fourGridContainer">
    <div class="featureItem">
      <div class="featureIcon">
        <i class="fas fa-smile-wink"></i>
      </div>
      <h3 class="featureItemTitle">
        Face Recognization
      </h3>
      <div class="featureItemText">
        Have a huge camp and couldn't remember who is who? Scan their faces and we'll have everything right  up for you! Names, parents, contact numbers, even medical conditions such as allergies, we've got it covered for you.
      </div>
    </div>
    <div class="featureItem">
      <div class="featureIcon">
        <i class="fas fa-credit-card"></i>
      </div>
      <h3 class="featureItemTitle">
        Payment Processing
      </h3>
      <div class="featureItemText">
        Somebody forget to bring cash? No worries, credit card (or debit) accepted here! Using NFC technology and image regonization technology, we can help you scan a credit card before you can say cash, making cash so yesterday.
      </div>
    </div>
    <div class="featureItem">
      <div class="featureIcon">
        <i class="material-icons">nfc</i>
      </div>
      <h3 class="featureItemTitle">
        NFC Scanning
      </h3>
      <div class="featureItemText">
        Have something other than a face to track? Oh yes, we can definately help you with that! With the help of NFC Technology, you can scan pretty much anything with an NFC tag and get information about them in an instance.
      </div>
    </div>
    <div class="featureItem">
      <div class="featureIcon">
        <i class="material-icons">phonelink_ring</i>
      </div>
      <h3 class="featureItemTitle">
        Push-To-Talk
      </h3>
      <div class="featureItemText">
        Want to stay connected but without the trouble of getting a license for walkie talkie? How about a walkie talkie that doesn't use radio signal? Yes, its powered by the magical WiFi and you don't need a license for magic.
      </div>
    </div>
  </div>
</div>
<div class="midSection">
  <div class="midSectionOverlay">

  </div>
  <div class="midSectionContent">
    <div class="midSectionImgCtn">
      <img class="midSectionImg" src="/assets/SCMS-Payment-Demo.png" />
    </div>
    <div class="midSectionTextCtn">
      <div class="midSectionSmallTitle">
        <h3 class="midSectionSmallTitleText">
          Awesome is not enough to describe it
        </h3>
      </div>
      <div class="midSectionBigTitle">
        <h2 class="midSectionBigTitleText">
          SCMS is free for everyone, but if you don't have a payment processor API. We can take payment for you at a small price.
        </h2>
      </div>
      <div class="midSectionParagraph">
        <p class="midSectionParagraphText">
          SCMS mPOS systems uses Stripe API to process payment. If you have a Stripe account, you can start charging for free. But if you do not, you can create a payment on SCMS and receive payment to your bank, additional fees apply.
        </p>
      </div>
      <div class="midSectionButton">
        <a href="/register" class="midSectionCTACtn">
          <button class="midSectionCTA">Learn More <i class="fas fa-arrow-right"></i></button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="ending">
  <div class="endingShapeDivider">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	  <path class="endingShapeFill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
	c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
	c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
  <div class="endingContent">
    <div class="endingContentCtn">
      <div class="endingText">
        <h4 class="endingTextBig">
          All this awesomeness could be yours to experience for free, so what do you say?
        </h4>
        <p class="endingTextSmall">
          Try it out yourself free of charge!
        </p>
        <a href="/register" class="endingCTACtn">
          <button class="endingCTA">Get Started <i class="fas fa-arrow-right"></i></button>
        </a>
      </div>
      <div class="endingImgCtn">
        <img class="endingImg" src="/assets/Summer-Camp-Ending-Img.png" />
      </div>
    </div>
  </div>
</div>
