<div class="headSlide">
  <div class="insideHeadSlide overlay">

  </div>
</div>
<div class="slideBar gridContainer">
  <p class="textWithBackground slideBarText gridItem">
    Start automate your summer camp for free! We'll manage your camp so you can have fun with your camper.
  </p>
  <a href="/register" class="gridItem">
    <button class="themeButton sliderBarButton">Get Started</button>
  </a>
</div>
<div class="intro">

</div>
