<h2 class="pricingTitle">
  Fair and Transparent Prcing
</h2>
<hr class="pricingHr" />
<h3 class="pricingDesc">
  Yes, of course we have free plan! And we also have pay as you go plan, no monthly fee, only cost you when you use it. And we also have a monthly fee plan, just for those who love them.
</h3>
<div class="threeGridContainer pricingGrid">
  <div class="pricingTab">
    <div class="pricingTabNameCtn">
      <h3 class="pricingTabName">FREE</h3>
    </div>
    <div class="pricingTabPriceCtn">
      <span class="pricingTabPriceSymbol">$</span>
      <span class="pricingTabPrice">0</span>
      <div class="pricingTabAftPrice">
        <span class="pricingTabPriceUnit">/ MO</span>
      </div>
    </div>
    <ul class="pricingTabFeatures">
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Face Recognization</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>NFC Scaner</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Payment System</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Push-To-Talk</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Emergency Beacon</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Camper Database</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Staff Database</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Camp Schedule</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>First Responder Database</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconUnchecked" aria-hidden="true"></i>
          <span>Need your own Server</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconUnchecked" aria-hidden="true"></i>
          <span>Need your own MongoDB database</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconUnchecked" aria-hidden="true"></i>
          <span>Need your own Google Vision API</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconUnchecked" aria-hidden="true"></i>
          <span>Need your own Google Map API</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconUnchecked" aria-hidden="true"></i>
          <span>Need your own Google Firebase API</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconUnchecked" aria-hidden="true"></i>
          <span>Need your own Stripe API</span>
        </div>
      </li>
    </ul>
    <div class="pricingTabButtonCtn">
      <a class="pricingTabButtonA" href="/register">
        <button class="pricingTabButton">Get Started</button>
      </a>
    </div>
  </div>
  <div class="pricingTab mainPricing">
    <div class="pricingTabNameCtn">
      <h3 class="pricingTabName">Payment Processor</h3>
    </div>
    <div class="pricingTabPriceCtn">
      <div class="Plan-cardPricing">
        <div class="Plan-cardRate">
          <div class="Plan-cardRate-percent">
            3.9%
          </div>
          <div class="Plan-cardRate-plus">+</div>
          <div class="Plan-cardRate-fixed">
            30¢
          </div>
        </div>
        <div class="Plan-cardRate-description">
          per successful card charge
        </div>
      </div>
      <div class="Plan-cardPricing">
        <div class="Plan-cardRate">
          <div class="Plan-cardRate-fixed">
            1¢
          </div>
        </div>
        <div class="Plan-cardRate-description">
          per API call
        </div>
      </div>
    </div>
    <ul class="pricingTabFeatures">
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Face Recognization</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>NFC Scaner</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Payment System</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Push-To-Talk</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Emergency Beacon</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Camper Database</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Staff Database</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Camp Schedule</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>First Responder Database</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Our Google Vision API</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Our Google Map API</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Our Google Firebase API</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Our Stripe API</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconUnchecked" aria-hidden="true"></i>
          <span>Need your own Server</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconUnchecked" aria-hidden="true"></i>
          <span>Need your own MongoDB database</span>
        </div>
      </li>
    </ul>
    <div class="pricingTabButtonCtn">
      <a class="pricingTabButtonA" href="/register">
        <button class="pricingTabButton">Get Started</button>
      </a>
    </div>
  </div>
  <div class="pricingTab">
    <div class="pricingTabNameCtn">
      <h3 class="pricingTabName">Hosted CMS</h3>
    </div>
    <div class="pricingTabPriceCtn">
      <span class="pricingTabPriceSymbol">From $</span>
      <span class="pricingTabPrice">299</span>
      <div class="pricingTabAftPrice">
        <span class="pricingTabPriceUnit">/ MO</span>
      </div>
      <div class="Plan-cardRate-description">
        contact us
      </div>
    </div>
    <ul class="pricingTabFeatures">
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Face Recognization</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>NFC Scaner</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Payment System</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Push-To-Talk</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Emergency Beacon</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Camper Database</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Staff Database</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Camp Schedule</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>First Responder Database</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Our Google Vision API</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Our Google Map API</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Our Google Firebase API</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Our Stripe API</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Our Server</span>
        </div>
      </li>
      <li class="pricingTabFeaturesList">
        <div class="pricingTabFeaturesListItem">
          <i class="fa fa-check-circle iconChecked" aria-hidden="true"></i>
          <span>Our MongoDB database</span>
        </div>
      </li>
    </ul>
    <div class="pricingTabButtonCtn">
      <a class="pricingTabButtonA" href="/contact">
        <button class="pricingTabButton">Contact Us</button>
      </a>
    </div>
  </div>
</div>
