<div class="footer fiveGridContainer">
  <div class="footerItem">
    <h4 class="footerItemTitle">
      <img class="footerImg" src="/assets/SCMS-Transparent-Logo-Banner.png" />
    </h4>
    <br />
    <a href="tel:18444245442" class="footerItemText">
      <i class="fas fa-phone"></i>
      +1 844 424 5442
    </a>
    <a href="mailto:hello@anthonykung.com" class="footerItemText">
      <i class="fas fa-envelope"></i>
      hello@anthonykung.com
    </a>
    <a class="footerItemText">
      <i class="fas fa-map-marked-alt"></i>
      Oregon State University
    </a>
  </div>
  <div class="footerItem">
    <h4 class="footerItemTitle">
      SCMS
    </h4>
    <br />
    <a href="/pricing" class="footerItemText">
      Pricing
    </a>
    <a href="https://campanthonio.com" class="footerItemText">
      Education
    </a>
    <a href="/about" class="footerItemText">
      About
    </a>
    <a href="/contact" class="footerItemText">
      Contact
    </a>
  </div>
  <div class="footerItem">
    <h4 class="footerItemTitle">
      Tools
    </h4>
    <br />
    <a href="/facerec" class="footerItemText">
      Face Recognization
    </a>
    <a href="/nfc" class="footerItemText">
      NFC Scaner
    </a>
    <a href="/pay" class="footerItemText">
      Payment Processor
    </a>
    <a href="/ptt" class="footerItemText">
      Push-To-Talk
    </a>
    <a href="/beacon" class="footerItemText">
      Emergency Beacon
    </a>
  </div>
  <div class="footerItem">
    <h4 class="footerItemTitle">
      Easy Menu
    </h4>
    <br />
    <a href="/campers" class="footerItemText">
      Camper Database
    </a>
    <a href="/staffs" class="footerItemText">
      Staff Database
    </a>
    <a href="/schedule" class="footerItemText">
      Camp Schedule
    </a>
    <a href="/responders" class="footerItemText">
      First Responder Database
    </a>
  </div>
  <div class="footerItem">
    <h4 class="footerItemTitle">
      Account
    </h4>
    <br />
    <a href="/register" class="footerItemText">
      Register
    </a>
    <a href="/login" class="footerItemText">
      Login
    </a>
    <a href="/profile" class="footerItemText">
      Profile
    </a>
    <a href="/dashboard" class="footerItemText">
      Dashboard
    </a>
  </div>
</div>
<div class="footerTwoGridContainer">
  <div class="footerBarItem footerCopyright">
    Copyright &copy; 2019, Anthony Kung. All rights reserved.
  </div>
  <div class="footerBarItem footerIconCtn">
    <a href="https://github.com/osu-cs290-f19/final-project-team-8-anthony-kung" class="socialIcon">
      <i class="fab fa-github-square"></i>
    </a>
    <a href="" class="socialIcon">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="" class="socialIcon">
      <i class="fab fa-twitter-square"></i>
    </a>
    <a href="" class="socialIcon">
      <i class="fab fa-youtube-square"></i>
    </a>
    <a href="" class="socialIcon">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="socialIcon">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="" class="socialIcon">
      <i class="fab fa-flickr"></i>
    </a>
    <a href="" class="socialIcon">
      <i class="fab fa-pinterest-square"></i>
    </a>
    <a href="" class="socialIcon">
      <i class="fab fa-dribbble-square"></i>
    </a>
    <a href="" class="socialIcon">
      <i class="fab fa-tumblr-square"></i>
    </a>
  </div>
</div>
