<div class="header">
  <div>
    {{#each site}}
      {{#if headerLogo}}
        <a href="/">
          <img class="headerLogo" src="{{logo}}" width="{{logoWidth}}" height="{{logoHeight}}">
        </a>
      {{/if}}
      {{#if headerTitle}}
        <a href="/">
          <h1>{{title}}</h1>
        </a>
      {{/if}}
    {{/each}}
  </div>
  <div id="navbar" class="navbarctn">
    {{#each navItems}}
      {{> navItem}}
    {{/each}}
  </div>
</div>
