<div class="header sticky">
  <div>
    {{#each site}}
      {{#if headerLogo}}
        <a href="/">
          <img class="headerLogo" src="{{logo}}" width="{{logoWidth}}" height="{{logoHeight}}">
        </a>
      {{/if}}
      {{#if headerTitle}}
        <a href="/">
          <h1>{{title}}</h1>
        </a>
      {{/if}}
    {{/each}}
  </div>
  <div id="navbar" class="navbarctn dropdown">
    {{#each navItems}}
      {{> navItem}}
    {{/each}}
    <a href="javascript:void(0);" class="navicon" onclick="navBarResClick()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
