<div class="topLevelMenu">
  <a id="navbaritem" class="navitems" href="{{path}}">{{urlName}}</a>
  <div class="secondLevelMenu">
    {{# if secItems}}
      {{#each secItems}}
        {{> secItem}}
      {{/each}}
    {{/if}}
  </div>
</div>
