<div class="topLevelMenu">
  <a id="navbaritem" class="navitems" href="{{path}}">{{urlName}}</a>
  <div class="secondLevelMenu">
    {{#each secItems}}
      {{> secItem}}
    {{/each}}
  </div>
</div>
