<div class="themeFormCtn">
  <form class="themeForm" method="post" enctype="multipart/form-data" action="/upload-camper">
    <label>Camper Name: </label>
    <input class="themeInput" type="text" name="username" />
    <label>Voice Alert: </label>
    <input class="themeInput" type="text" name="voiceAlert" />
    <label>Medical Conditions: </label>
    <input class="themeInput" type="text" name="userMedical" />
    <label>Medications: </label>
    <input class="themeInput" type="text" name="userMedications" />
    <label>Class: </label>
    <input class="themeInput" type="text" name="userClass" />
    <label>Supervisor: </label>
    <input class="themeInput" type="text" name="userSup" />
    <label>Age: </label>
    <input class="themeInput" type="text" name="userAge" />
    <label>Guardian: </label>
    <input class="themeInput" type="text" name="userGuardian" />
    <label>Guardian Contact: </label>
    <input class="themeInput" type="text" name="userContact" />
    <label class="themeInputLabel">Face Regnization Picture: </label>
    <input class="themeInput" type="file" name="file" />
    <input class="themeFormSubmit" type="submit" value="Submit" />
  </form>
</div>
