<div class="themeFormCtn">
  <h2>Upload Camper</h2>
  <form class="themeForm" method="post" enctype="multipart/form-data" action="/upload-facerec">
    <label class="themeInputLabel">Face Regnization Picture: </label>
    <input class="themeInput" type="file" name="file" />
    <input class="themeFormSubmit" type="submit" value="Submit" />
  </form>
</div>
